{% extends 'base.html.twig' %}

{% block body %}
    <div style="text-align: center; padding: 50px;">
        <h1>Accès refusé</h1>
        <p>Vous n'avez pas la permission d'accéder à cette page.</p>
        <a href="{{ path('app_login_page') }}">Retour à la page de connexion</a>
    </div>
{% endblock %}
