
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}Responsive Admin Dashboard | Korsat X Parmaga
			{% endblock %}
		</title>
		<!-- ======= Styles ====== -->
		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('css/style.css') }}">
		{% endblock %}
	</head>
	<body>
		<!-- =============== Navigation ================ -->
		<div class="container">
			<div class="navigation">
				<ul>
					<li><a href=""><span class="icon"><ion-icon name="logo-apple"></ion-icon></span><span class="title">Brand Name</span></a></li>

					<li><a href=""><span class="icon"><ion-icon name="home-outline"></ion-icon></span><span class="title">Dashboard</span></a></li>

					<li><a href=""><span class="icon"><ion-icon name="people-outline"></ion-icon></span><span class="title">Customers</span></a></li>

					<li><a href=""><span class="icon"><ion-icon name="chatbubble-outline"></ion-icon></span><span class="title">Messages</span></a></li>

					<li><a href=""><span class="icon"><ion-icon name="help-outline"></ion-icon></span><span class="title">Help</span></a></li>

					<li><a href=""><span class="icon"><ion-icon name="settings-outline"></ion-icon></span><span class="title">Settings</span></a></li>

					<li><a href=""><span class="icon"><ion-icon name="lock-closed-outline"></ion-icon></span><span class="title">Password</span></a></li>

					<li><a href="" id="logout-button"><span class="icon"><ion-icon name="log-out-outline"></ion-icon></span><span class="title">Sign Out</span></a></li>
				</ul>
			</div>
			<script>
				document.getElementById('logout-button').addEventListener('click', function (e) {
e.preventDefault(); // prevent default anchor behavior
localStorage.clear(); // clear localStorage
window.location.href = '/logout'; // redirect to Symfony logout route
});
			</script>


			<!-- ========================= Main ==================== -->
			<div class="main">
				<div class="topbar">
					<div class="toggle">
						<ion-icon name="menu-outline"></ion-icon>
					</div>

					<div class="search">
						<label>
							<input type="text" placeholder="Search here">
							<ion-icon name="search-outline"></ion-icon>
						</label>
					</div>

					<div class="user">
						<img src="{{ asset('images/customer01.jpg') }}" alt="">
					</div>
				</div>

				<!-- Contenu dynamique -->
				{% block body %}{% endblock %}
			</div>
		</div>

		<!-- =========== Scripts =========  -->
		{% block javascripts %}
			<script src="{{ asset('js/main.js') }}"></script>
			<!-- ====== ionicons ======= -->
			<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
			<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
		{% endblock %}
	</body>
</html>
