{% extends 'base.html.twig' %}

{% block title %}GoodGames | Forum{% endblock %}

{% block body %}
    <div class="nk-gap-1"></div>
    <div class="container">
        <h1>Forum Index</h1>
        <p>This is a placeholder for the forum index page.</p>
    </div>
    <div class="nk-gap-1"></div>
{% endblock %}